
.tile-row {
    margin-bottom: 25px;
}


/* Important part */
.tile {
    display: inline-block;
    position: relative;
    width: 100%;
}

    .tile:before {
        content: "";
        display: block;
        padding-top: 100%;
        /* initial ratio of 1:1*/
    }


/* tile content */
.tile-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.tile-header {
    position: absolute;
    width: 100%;
    height: 32px;
}

.tile-footer {
    position: absolute;
    width: 100%;
    height: 24px;
    left: 0;
    right: 0;
    bottom: 0;
}

.tile-body {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
}

.tile-body-scrollable {
    overflow-y: auto;
}

.tile-body-headered {
    top: 32px;
}

.tile-body-footered {
    bottom: 24px;
}


/* row/column spanning */
.tile-r1-c1:before {
    padding-top: 100%;
}

.tile-r1-c2:before {
    padding-top: 50%;
    margin-top: -15px;
}

.tile-r1-c3:before {
    padding-top: 33.3333%;
    margin-top: -19px;
}

.tile-r1-c4:before {
    padding-top: 25%;
    margin-top: -22px;
}

.tile-r1-c5:before {
    padding-top: 20%;
    margin-top: -22px;
}

.tile-r1-c6:before {
    padding-top: 16.6667%;
    margin-top: -25px;
}



.tile-r2-c1:before {
    padding-top: 200%;
    margin-top: 31px;
}

.tile-r2-c2:before {
    padding-top: 100%;
    margin-top: 2px;
}

.tile-r2-c3:before {
    padding-top: 66.6667%;
    margin-top: -8px;
}

.tile-r2-c4:before {
    padding-top: 50%;
    margin-top: -13px;
}

.tile-r2-c5:before {
    padding-top: 40%;
    margin-top: -18px;
}

.tile-r2-c6:before {
    padding-top: 33.3333%;
    margin-top: -19px;
}



.tile-r3-c1:before {
    padding-top: 300%;
    margin-top: 62px;
}

.tile-r3-c2:before {
    padding-top: 150%;
    margin-top: 18px;
}

.tile-r3-c3:before {
    padding-top: 100%;
    margin-top: -8px;
}

.tile-r3-c4:before {
    padding-top: 75%;
    margin-top: -7px;
}

.tile-r3-c5:before {
    padding-top: 60%;
    margin-top: -11px;
}

.tile-r3-c6:before {
    padding-top: 50%;
    margin-top: -14px;
}
